/*=========== COLOR CODES ===============
#035845    basic dark green (menu)
#FF7400    bright orange (current tab)
#883705    brown-orange (hovered tab)
#E88446    soft orange (contact form border)
#689e92    very light green (instead of grey)
#003026    very dark green (text on contact button)
=======================================*/

@font-face {
  font-family: Josefin;
  /*src: url("/test-site/fonts/JosefinSans-Light.woff");*/
  src: url("fonts/JosefinSans-Light.woff");
}

@font-face {
  font-family: JosefinBold;
  /*src: url("/test-site/fonts/JosefinSans-SemiBold.woff");*/
  src: url("fonts/JosefinSans-SemiBold.woff");
}

@font-face {
  font-family: JosefinItalic;
  /*src: url("/test-site/fonts/JosefinSans-LightItalic.woff");*/
  src: url("fonts/JosefinSans-LightItalic.woff");
}

/*===============================================================*/
body {
  min-width: 100px;
  padding: 0;
  margin: 0;
  font-family: "Josefin", "Josefin", sans-serif;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: Josefin;
  font-size: 22px;
  color: #003026 ;
  line-height: 1.3;
}

body h1{
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: JosefinBold;
  font-size: 36px;
  color: #FF7400;
  line-height: 1.1;
}

body h2{
  margin-top: 10px;
  margin-bottom: 35px;
  font-family: Josefin;
  font-size: 30px;
  color: #E88446;
  line-height: 1.1;
}


body a{
  color: #E88446;
  text-decoration: none;
}

body a:visited{
  color: #883705;
  text-decoration: none;
}

body a:hover{
  color: #883705;
  text-decoration: underline;
  text-decoration-style: solid;
}

body a:focus{
  color: #883705;
  text-decoration: underline; 
  text-decoration-style: solid;
}

body a:active{
  color: #883705;
  text-decoration: underline;
  text-decoration-style: double;
  
}

body ul{
  list-style: none
}

/*============= old 404 page =================*/

.block {
  /*position: relative;*/
  width: 404px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 500px;
  /*padding: 124px 12px 0;*/
  font-family: "Josefin", "Josefin", serif;
  background-color: #c6f7d3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.block h3 {
  margin: 0 0 2px 0;
  padding: 0;
  font-family: "Josefin", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.block p {
  margin: 0 0 8px 0;
  padding: 0;
  font-family: "Josefin", serif;
  font-size: 18px;
  /*font-style: italic;*/
  line-height: 21px;
}

/*============= mynav and my footer=================*/

.mynav{
    border:0px solid #035845;
    /*border-width:1px 0;*/
    border-bottom-width: 3px;
    border-top-width: 3px;
    padding-top: 2px;
    padding-bottom: 0px;
    list-style:none;
    margin:20;
    padding:10;
    text-align:center;
}

.mynav li{
    display:inline;
}
.mynav a{
    display:inline-block;
    padding:10px;
    color: #035845;
  	text-decoration: none;
  	font-size: 28px;
    font-family: "JosefinBold";

}

.mynav a:visited{
    color: #035845;
    text-decoration: none;
}

.mynav a:hover {
	color: #883705;
  text-decoration: none;
}

.mynav a:focus {
	color: #883705;
  text-decoration: none;
}

.mynav a:active {
	color: #883705;
	text-decoration: underline 
}

.mynav .currenttab a {
    /*text-decoration: underline*/
    color: #FF7400
}


.mycontent{
  min-height: calc(100vh - 195px);
}

.myfooter {
  height: 50px;
  /*background: #E88446;*/
  border:0px solid #035845;
  border-bottom-width: 3px;
  border-top-width: 3px;

  /*padding-right: 100px;*/
  padding-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  height: 50px;
  line-height: 1;

  text-align: center;
  font-size: 24px;
  font-family: JosefinBold;
  color: #035845;
}

.myfooter a{
  font-size: 18px;
  color: #689e92;
}

.myfooter a:visited{
  font-size: 18px;
  color: #689e92;
}

.myfooter .activefooter {
  font-size: 18px;
  color: #E88446 !important;
  text-decoration: none;

}

/*======================== CV page ==========================*/
.mypagecontent {
  overflow:hidden;
  max-width: 1100px;
  /*background: #af8efa;*/
  text-align: center;
  }

/*==============================================================*/

.mypagecontentjust {
  overflow:hidden;
  max-width: 1100px;
  /*background: #af8efa;*/
  text-align: justify;
  }
/*==============================================================*/

.cvitem {
  float:left;
  margin: 1%;
  width:23%;/* 23% + 1% margin-left + 1% margin-right = 25% */
  /*border: 2px solid black*/
  }

.cvitem img:hover {
  /*border:10px solid #035845;*/
  background: #035845;
}
/*======================== Contact page ==========================*/

.mypagecontent600 {
  overflow:hidden;
  max-width: 600px;
  /*background: #af8efa;*/
  text-align: center;
  }

  .mypagecontent800left {
  overflow:hidden;
  max-width: 800px;
  /*background: #af8efa;*/
  text-align: left;
  }

.contactitem {
  float:left;
  margin: 1%;
  /*width:12.2%;  for 7 
  */width: 14.5%; /*for 6 */
  }

.contactitem img:hover {
  /*border:10px solid #035845;*/
  background: #035845;
}




/*======================== About page ==========================*/

.layer1 {
  overflow:hidden;
  float: left;
  width: 60%;
  text-align: left;
  padding: 10px;
}

.layer2 {
  overflow:hidden;
  float: right;
  width: 35%;
  text-align: center;
}

.layer2:hover {
  cursor: pointer;
}


.layer3photo {
  overflow:hidden;
  float: right;
  width: 100%;
  height: 400px;
  text-align: center;

  /*background: url('/test-site/images/myphoto.jpg');*/
  background: url('images/myphoto.jpg');
  background-size: cover;
  background-position: center;

}

.layer3placeholder {
  overflow:hidden;
  float: right;
  width: 100%;
  height: 400px;
  text-align: center;

  /*background: url('/test-site/images/sosna43.jpg');*/
  background: url('images/sosna43.jpg');
  background-size: cover;
  background-position: center;

}

.layer4 {
  overflow:hidden;
  float: right;
  width: 100%;
  height: 90px;
  text-align: center;
  margin-top: 5px;
}

.layer4 p{
  font-size: 16px;
  font-family: JosefinItalic;
  color: #5fb09e;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.hiddentext {
  display: none;
}


.diamondlist li:before{
  content: '\1F79B';
  margin-left: -20px; 
  margin-right: 5px; 
  color: #E88446;
}
}